<h2>Books search for <%= @tag.tag_name %> </h2>
<table class="table table-hover table-inverse">
<thead>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Opinion</th>
    <th>Tag</th>
  </tr>
</thead>
<tbody>
 <!--投稿一覧を表示する -->
  <% @books.each do |book| %>
  <tr>
    <td>
      <!-- それを投稿したユーザーのプロフィール -->
      <%= image_tag book.user.get_profile_image,size: '50x50' %>
    </td>
    <td>
      <!-- 投稿された本のタイトル -->
      <%= link_to book_path(book) do %>
      <%= book.title %>
      <% end %>
    </td>
    <td>
      <!-- 投稿された本の内容 -->
      <%= book.body %>
    </td>
    <td>
      <!-- 投稿された本についてるタグ(複数に備えてeach）とリンク -->
      <% book.tags.each do |tag| %>
      <%= link_to tag_books_path(tag_id: tag.id) do %>
      <%= tag.tag_name %>
      <% end %>
      <% end %>
    </td>
    <!-- 投稿された本をいいねするボタン -->
    <td class="favorite_buttons_<%= book.id %>">
     <%= render 'favorites/favorite', book: book %>
    </td>
    <td>
      <!-- 投稿された本に付けられているコメントの数 -->
     コメント数 : <%= book.book_comments.count %>
    </td>
    <td>
      <!-- 投稿された本に付けられている星評価 -->
      <div class="star-rate">
        <div id="star-rate-<%= book.id %>"></div>
         <script>
           $('#star-rate-<%= book.id %>').raty({
             size      : 36,
             starOff   : '<%= asset_path('star-off.png') %>',
             starOn    : '<%= asset_path('star-on.png') %>',
             half      : false,
             readOnly: true,
             score: <%= book.star %>,
           });
         </script>
        </div>
     </td>
  </tr>
  <!-- 投稿一覧表示のための@books.eachへのend -->
<% end %>

</tbody>
</table>



