<div class='container'>
 <div class='row'>
  <div class='col-md-3'>
   <h2>User info</h2>
    <%= render 'users/info',user: @user %>
     <h2 class="mt-3">New book</h2>
      <%= form_with model: @bookd,local:true do |f| %>
       <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control book_title' %>
       </div>
       <div class="form-group">
        <%= f.label :opinion %>
        <%= f.text_area :body, class: 'form-control book_body' %>
       </div>
       <!--タグ投稿フォーム-->
       <div class="form-group">
        <%= f.label :tag %>
        <%= f.text_field :tag_name, class: 'form-control book_tag' %>
       </div>

       <div class="form-group" id="star">
        <%= f.hidden_field :star, id: :review_star %>
       </div>

       <script>
       $('#star').raty({
         size     : 36,
         starOff:  '<%= asset_path('star-off.png') %>',
         starOn : '<%= asset_path('star-on.png') %>',
         scoreName: 'book[star]',
         half: false,
       });
       </script>

       <div class="form-group">
        <%= f.submit class: 'btn btn-success' %>
       </div>
      <% end %>
  </div>
  <!-- 投稿された本の詳細-->
  <div class='col-md-8 offset-md-1'>
   <h2>Book detail</h2>
    <table class='table'>
     <tr>
      <td>
       <!-- 投稿された本の投稿ユーザーを表示 -->
       <%= link_to(@book.user) do %>
       <%= image_tag @book.user.get_profile_image, size: '50x50' %><br>
       <%= @book.user.name %>
       <% end %>
      </td>
      <td>
       <!--投稿された本のタイトルを表示-->
       <%= link_to @book.title, @book %>
      </td>

      <td>
       <!-- 投稿された本のopinionを表示-->
       <%= @book.body %>
      </td>

      <td>
       <!-- 投稿された本のタグを複数ある場合に備えてeachで一つ一つ並べる-->
       <% @book.tags.each do |tag| %>
       <!-- リンク先はbooksコントローラーのsearchアクションいき-->
       <%= link_to tag_books_path(tag_id: tag.id) do %>
       <%= tag.tag_name %>
       <!-- link doのend -->
       <% end %>
       <!-- tag.eachのend -->
       <% end %>
      </td>

      <td class=<%= "favorite-" + @book.id.to_s %> >
       <%= render "favorites/favorite", book: @book %>
      </td>

      <td class="book_comments_counter">
       <%= render "book_comments/counter", book: @book %>
      </td>

      <td>
       <!--星評価をjavaで入れる-->
      <div class="star-rate">
       <!-- どの投稿に対する評価なのかをidを持たせて判別-->
       <div id="star-rate-<%= @book.id %>"></div>
       <!-- #star-rate...は上で持たせたid名、クラスだったら.始まり-->
       <!-- readonlyで読み込み専用にし、編集できないようにする-->
       <!-- scoreオプションで評価内容を取得-->
      <script>
      $('#star-rate-<%= @book.id %>').raty({
        size      : 36,
        starOff   : '<%= asset_path('star-off.png') %>',
        starOn    : '<%= asset_path('star-on.png') %>',
        half      : false,
        readOnly: true,
        score: <%= @book.star %>,
      });
     </script>
     </div>

     <!-- この投稿の閲覧数 -->
     <td>
      <p>閲覧数:<%= @book_detail.view_counts.count %></p>
     </td>

     </td>
       <!-- 今ログインしているユーザーと投稿ユーザーが同一人物同じIDなら-->
       <% if @user == current_user %>
      <td>
       <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success" %>
      </td>
      <td>
       <%= button_to 'Destroy', book_path(@book), method: :delete, data: { confirm: '本当に消しますか？'}, class: "btn btn-sm btn-danger" %>
      </td>
      <% end %>
     </tr>
    </table>
    <!-- コメントフォーム -->
    <div class="new-comment">
     <%= render 'book_comments/form', book: @book, book_comment: @book_comment %>
    </div>
    <!-- コメント一覧-->
    <div class="comments-area">
     <%= render 'book_comments/comment', book: @book %>
    </div>

  </div>
 </div>
</div>